.blog{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    margin: 24px 0;
    
}
.blog .blog-header{
    height: 150px;
    display: flex;
}
.blog .img-container{
    /* height: 100%; */
    width: 150px;
    padding: 16px;
}
.blog .img-container img{
    height: 90%;
    /* width: 100%; */
    border-radius: 50%;
}
.blog .header{
    width: 100%;
    padding: 12px 30px 12px 12px;
}
.blog .title{
    width: 100%;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    margin: 8px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.blog .details{
    display: flex;
    margin: 8px;
    text-align: left;
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}
.blog .details .time{
    flex-grow: 1;
}
.blog .details .name{
    flex-grow: 2;
    text-transform: capitalize;
}
.blog .content{
    /* background-color: green; */
    padding: 24px;
    padding-top: 8px;
    text-align: left;
    letter-spacing: 1px;
    font-size: 24px;
}


/* for mobile */
@media only screen and (max-width: 768px) {

    .blog .title{
        font-size: 24px;
    }
    .blog .header{
        padding-left: 0;
    }
    .blog .content{
        font-size: 20px;
    }
    .blog .img-container{
        width: 50px;
    }
}