<%- include('header') -%>

    <div class="home container row">
        <div class="col-2 side-bar-container">
            <div class="search-box">
                <input type="search" name="query">
                <i class="fa fa-lens"></i>
            </div>
        </div>
        <div class="col-7 posts-container">

        </div>
        <div class="col-3 notices-container">

        </div>
    </div>

<%- include('footer') -%>