@media only screen and (min-width: 468px){
    .carousel-inner img{
        height: 100vh;
    }
}
    
div.prev, div.next{
    height: 40px;
    width: 40px;
    border: solid 2px white;
    border-radius: 50%;
}
div.prev span, div.next span{
    margin-top: 25%;
}